---
import Faq from "../components/Faq.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <main class="u-container"><Hero /><Faq /></main>
</Layout>
