---
import ArchiveGrid from "../components/ArchiveGrid.astro";
import Faq from "../components/Faq.astro";
import FeaturedGrid from "../components/FeaturedGrid.astro";
import Hero from "../components/Hero.astro";
import NightToggle from "../components/NightToggle.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <main class="u-container"><Hero /><Faq /><FeaturedGrid /><ArchiveGrid /></main>
  <NightToggle />
</Layout>
